// 侧边栏
// 菜单栏css重置
.el-menu--dark{
     background: #fff;
    .el-menu-item{
        border-bottom:#eff3f7 solid 1px;
        color:#6e96b2;
        &:hover{
             background: #fff;
              color:#2c9cea;
        }
        &.is-active{
            color: #2c9cea !important;
            background:#fff;
            position: relative;
            em{
                position: absolute;
                top:0;
                left: 0;
                display: block;
                background: #2c9cea;
                width: 2px;
                height: 100%;
            }
            .submenu-iconfont{
                color: #fff !important;
            }
        }
    }
    .el-submenu__title{
        color:#6e96b2;
         &:hover{
             background: #f9fafc;
              color:#2c9cea;
        }
    }
    .el-submenu{
        border-bottom:#eff3f7 solid 1px;
        &.is-active{
            color: #2c9cea !important;
            background:#fff;
            position: relative;
            em{
                position: absolute;
                top:0;
                left: 0;
                display: block;
                background: #2c9cea;
                width: 3px;
                height: 100%;
            }
            .submenu-iconfont{
                color: #fff !important;
            }
            .el-submenu__title{
                color:#2c9cea;
            }
        }
        .el-menu{
            background-color: #f9fafc;
            .el-menu-item{
                &:hover{
                    background: #f9fafc;
                }
            }
        }
    }
}
.sidebar-container>.el-menu {
  width: 100%!important;
  min-height: 100%;
}

.sidebar-container .svg-icon {
  margin-right: 16px;
}
.hideSidebar {
  .sidebar-container .svg-icon {
    width: 20px;
    height: 20px;
    vertical-align: -0.36em;
  }
}
.hideSidebar .el-submenu>.el-submenu__title,
.hideSidebar .submenu-title-noDropdown {
  padding-left: 10px!important;
}

.hideSidebar .submenu-title-noDropdown ,
.hideSidebar .el-submenu>.el-submenu__title {
  span{
    color:#6e96b2;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
  }
}
.hideSidebar .submenu-title-noDropdown.is-active ,
.hideSidebar .el-submenu.is-active>.el-submenu__title {
  span{
    color:#2c9cea;
  }
}
.hideSidebar .el-submenu .el-menu{
    background: #fff;
    color:#6e96b2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}

.hideSidebar .nest-menu .el-submenu__title {
  text-align: initial!important;
  padding-left: 20px!important;
  span {
    visibility: visible;
    display: inline;
  } 
  .el-submenu__icon-arrow {
    display: block!important;
  }
}

.hideSidebar .menu-wrapper>.el-menu-item,
.hideSidebar .submenu-title-noDropdown,
.hideSidebar .menu-wrapper>.el-submenu .el-submenu__title {
  text-align: center;
}

.hideSidebar .el-menu-item .el-submenu__icon-arrow,
.hideSidebar .el-submenu .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

.hideSidebar .submenu-title-noDropdown {
  position: relative;
  span {
    transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
    opacity: 0;
  }
  &:hover {
    span {
      display: block;
      border-radius: 3px;
      z-index: 1002;
      width: 140px;
      height: 56px;
      visibility: visible;
      position: absolute;
      right: -145px;
      text-align: left;
      text-indent: 20px;
      top: 0px;
      opacity: 1;
      background-color:#fff;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    }
  }
}

.el-submenu .el-menu-item {
  min-width: 180px!important;
}
